In [1]:
import numpy as np
import pandas as pd

In [2]:
obj = pd.Series(range(3), index=['a','b','c'])

In [3]:
obj

a    0
b    1
c    2
dtype: int64

In [4]:
index = obj.index

In [5]:
index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
index[1:]

Index(['b', 'c'], dtype='object')

In [7]:
# index[1] = 'd' # TypeError

In [8]:
labels = pd.Index(np.arange(3))

In [9]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [10]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)

In [11]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [12]:
obj2.index is labels

True

In [13]:
pop = {'Nevada':{2001:2.4, 2002:2.9},'ohio':{2000:1.5, 2001:3.6}}

In [14]:
frame3 = pd.DataFrame(pop)

In [15]:
frame3

      Nevada  ohio
2001     2.4   3.6
2002     2.9   NaN
2000     NaN   1.5

In [16]:
frame3.columns

Index(['Nevada', 'ohio'], dtype='object')

In [17]:
frame3.index.name='year'; frame3.columns.name='state'

In [18]:
frame3.columns

Index(['Nevada', 'ohio'], dtype='object', name='state')

In [19]:
'ohio' in frame3.index

False

In [20]:
dup_labels = pd.Index(['foo','foo','bar','bar'])

In [21]:
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')